@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

<address>
    Politechnika Rzeszowska<br />
    im. Ignacego Łukasiewicza<br />
    <abbr title="Adres">A:</abbr>
    ul. Wincentego Pola 2
</address>

<address>
    <strong>Administrator:</strong>   <a href="mailto:admin@admin.com">admin@admin.com</a><br />
</address>
