@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Magazyn - online</h1>
    <p class="lead">Aplikacja internetowa pozwalająca zarządzać towarami w magazynie</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Zaloguj się &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>Do budowy aplikacji wykorzystano framework ASP.NET
        </p>
        <p><a class="btn btn-default" href="https://www.asp.net/">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>Aplikacje oparto o wzorzec projektowy MVC</p>
        <p><a class="btn btn-default" href="https://www.asp.net/mvc">Dowiedz się więcej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure</h2>
        <p>Wykorzystano platformę Azure</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/pl-pl/free/?&WT.mc_id=AID529468_SEM_76XaN2mi">Dowiedz się więcej &raquo;</a></p>
    </div>
</div>
